**/.husky/_
**/.idea/
**/components/
**/coverage/
**/node_modules/
**/.yarn/
**/bin/**/*.js
**/bin/**/*.js.map
**/bin/**/*.d.ts
**/lib/**/*.js
**/lib/**/*.js.map
**/lib/**/*.d.ts
**/test/**/*.js
**/test/**/*.js.map
**/test/**/*.d.ts
!/test/data/**/*.d.ts
